<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>管理员遥感数据查询展示页面</title>
    <!-- layui -->
    <link rel="stylesheet" href="/js/layui/css/layui.css" media="all">
    <script src="/js/layui/layui.js" charset="utf-8"></script>
    <script src="/js/jquery/jquery-3.3.1.min.js" charset="utf-8"></script>
</head>

<body>
    <style>
        .left {
            /* position: absolute; */
            left: 15px;
            margin: 5px 2% 5px 2%;
            height: 90px;
            width: 96%;
            background: rgb(91, 153, 94);
            color: rgb(8, 7, 7);
            font-size: 30px;
            text-align: center;
            line-height: 60px;
        }

        .tail {
            /* position: absolute; */
            left: 15px;
            margin: 0px 2% 10px 2%;
            height: 90px;
            width: 96%;
            background: rgb(91, 153, 94);
            color: rgb(8, 7, 7);
            font-size: 30px;
            text-align: center;
            line-height: 60px;
        }
    </style>
    <ul class="layui-nav">
        <li class="layui-nav-item"><a href="demand_submit">星历计算</a></li>
        <li class="layui-nav-item"><a href="demand_management">轨道预报</a></li>
        <li class="layui-nav-item"><a href="user_image_find">星座与卫星管理</a></li>
        <li class="layui-nav-item"><a href="user_image_find_result">区域管理</a></li>
        <li class="layui-nav-item"><a href="image_download_schedule">星座覆盖分析</a></li>
        <li class="layui-nav-item"><a href="failure_block">股改能力对比</a></li>
        <li class="layui-nav-item"><a href="admin_image_find">频率冲突分析</a></li>
        <li class="layui-nav-item"><a href="admin_image_find">覆盖效果仿真</a></li>
        <li class="layui-nav-item"><a href="admin_image_find">星岛衰减与补偿计算</a></li>

        <!-- <li class="layui-nav-item"><a href="image_deistribution_monitor">用户遥感数据查询结果页面</a></li> -->

    </ul>
    <div class="left">星历计算</div>
    <label class="layui-form-label">星座选择</label>
    <div class="layui-input-block" id="constellations"></div>
    <label class="layui-form-label">卫星选择</label>
    <div class="layui-input-block" id="satellite">
        <!-- <select name="interest" lay-filter="aihao">
            <option value="六根数">卫星选择</option>
            <option value="两行根数" selected="">卫星选择</option>
        </select> -->
    </div>
    <form class="layui-form" method="POST">
        <!-- 选中卫星 -->
        <!-- <input type="text" id="selec_satellite" value=""> -->
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input  id="name1"  name="sat_id" type="text"  />
                <!-- type="hidden" -->
            </div>
        </div>

        <label class="layui-form-label">根数选择</label>
        <div class="layui-input-block">
            <select name="number" lay-filter="aihao">
                <option value="er">六根数</option>
                <option value="liu" selected="">两行根数</option>
            </select>
        </div>
        <!-- 时间 -->
        <div class="layui-form-item">
            <div class="layui-inline">
                <div class="layui-inline">
                    <label class="layui-form-label">开始时间</label>
                    <div class="layui-input-inline">
                        <input type="text" name="start" class="layui-input" id="start"
                            placeholder="yyyy-MM-dd HH:mm:ss">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">结束时间</label>
                    <div class="layui-input-inline">
                        <input type="text" name=“end” class="layui-input" id="end" placeholder="yyyy-MM-dd HH:mm:ss">
                    </div>
                </div>

            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">星历间隔</label>
            <div class="layui-input-block">
                <input type="text" name="EphemerisInterval" lay-verify="EphemerisInterval" autocomplete="off"
                    placeholder="间隔" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="margin: 9px 2% 15px 20%;">
                <button type="submit" class="layui-btn" lay-submit="" id="submit" lay-filter="demo1">立即提交</button>
                <!-- <button type="button"  id="submit" >立即提交</button> -->
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    <script>

        var con = ""
        $.ajax({
            type: "get",
            async: true, //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
            url: "/ephemeris_calcula/sat_find", //请求发送到show/temperature
            dataType: "json", //返回数据形式为json
            success: function (xingzuo) {
                con = xingzuo;

                //请求成功时执行该函数内容，result即为服务器返回的json对象
                var constellations = '<select name="constellations" onchange="select_con(this[selectedIndex].value)" lay-filter="aihao">\
                    <option value="">选择星座</option>'
                for (var i = 0; i < xingzuo.length; i++) {
                    constellations += '<option value="' + xingzuo[i].id + '">' + xingzuo[i].name + '</option>'
                }
                constellations += '</select>'
                $("#constellations").append(constellations);
                // var name = $('select[name=sel]').val(2);
                // console.log(name)

            }
        })

        function select_con(value) {
            console.log(con[0].list)
            for (var i = 0; i < con.length; i++) {
                if (con[i].id == value) {
                    var satellite = ' <select name="satellite" lay-filter="aihao" onchange="select_sat(this[selectedIndex].value)" >';
                    for (var j = 0; j < con[i].list.length; j++) {
                        satellite += '<option value="' + con[i].list[j].id + '">' + con[i].list[j].name + '</option>'
                    }
                    satellite += '</select >'
                    $("#satellite").html(satellite);
                }
            }
        }
        function select_sat(value) {
            console.log(value)
            $('#name1').val(value);
        }
        
    </script>
    <script>
        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate;

            laydate.render({
                elem: '#test16'
                , type: 'datetime'
                , range: '到'
                , format: 'yyyy年M月d日H时m分s秒'
            });
            //日期
            laydate.render({
                elem: '#date'
            });
            laydate.render({
                elem: '#date1'
            });
            //日期时间选择器
            laydate.render({
                elem: '#start'
                , type: 'datetime'
            });
            laydate.render({
                elem: '#end'
                , type: 'datetime'
            });
            //创建一个编辑器
            var editIndex = layedit.build('LAY_demo_editor');

            //自定义验证规则
            form.verify({
                title: function (value) {
                    if (value.length < 1) {
                        return '至少得1个字符啊';
                    }
                }
                , pass: [
                    /^[\S]{6,12}$/
                    , '密码必须6到12位，且不能出现空格'
                ]

            });



            // 监听提交
            form.on('submit(demo1)', function (data) {
                layer.alert(JSON.stringify(data.field), {
                    title: '最终的提交信息'
                })
                console.log(data.field)
                // $.ajax({
                //     type: "post",
                //     async: true, //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
                //     url: "/ephemeris_calcula", //请求发送到show/temperature

                //     dataType: "json", //返回数据形式为json
                //     success: function (xingzuo) { }
                // })
                // return true;
            });


            // //表单取值
            // layui.$('#LAY-component-form-getval').on('click', function () {
            //     var data = form.val('example');
            //     alert(JSON.stringify(data));
            // });

        });
    </script>

</body>

</html>